
* {
    font-family: 'Fragment Mono', monospace;
    font-family: 'Raleway', sans-serif;
}
header {
    display: flex;
    justify-content: left;
    background-color: #000;
    height: 115vh;
    background: rgba(0, 0, 0, 0.7) url('images.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
header > div {
    width: 90vh;
    margin: 35vh 3%;
    text-align: center;
}
header > div > h1 {
    font-size: 50px;
    color: #fff;
}
header #btnheadery {
    width: 20vh;
    border: none;
    padding: 14px 10px;
    font-size: 11px;
    margin-right: 5px;
    color: #fff;
    background-color: rgb(238, 195, 4);
}
header #btnheaderw {
    width: 20vh;
    border: none;
    padding: 14px 10px;
    margin-left: 5px;
    font-size: 11px;
    color: #000000;
    background-color: #fff;
}
/*section 2*/
#sec2 {
    background-color: #fff;
    height: 92vh;
    text-align: center;
}
#sec2 .sectitle {
    margin-top: 65px;
    width: 300px;
    display: inline-flex;
    flex-direction: column;
}
#sec2 .seccolumn {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    height: 304px;
}
#sec2 img {
    width: 224px;
    height: 224px;
}
#sec2 .seccolumnmin {
    border: 1px solid #e9e8e8;
    background-color: #e9e8e8;
    margin: 0 10px 0 10px;
}
#sec2 h2 {
    margin-top: 0;
    font-size: 30px;
}
#sec2 h6 {
    margin-bottom: 10px;
    color: rgb(255, 208, 0);
}
#sec2 h5 {
    margin-top: 18px;
    margin-bottom: 0;
}
#sec2 p {
    margin-top: 10px;
    font-size: 11px;
}
/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #162e4b;
    height: 54vh;
}
footer div {
    text-align: left;
    margin: 11vh 5vh;
}
footer h4, h5 {
    color: #fff;
}
footer p {
    color: #fff;
    font-size: 12px;
}
footer a {
    display: block;
}
footer input {
    width: 60vh;
    border: none;
    padding: 14px 19px;
    background-color: #fff;
    font-size: 11px;
}
footer #btnfooter {
    width: auto;
    border: none;
    padding: 13px 14px;
    font-size: 12px;
    color: #fff;
    background-color: rgb(255, 208, 0);
}
footer #fbtn {
    border: 1px solid #fff;
    background-color: #162e4b;
}