
* {
    font-family: 'Fragment Mono', monospace;
    font-family: 'Raleway', sans-serif;
}
/*head*/
/*#info {
    display: flex;
    justify-content: space-between;
    background-color: #162e4b;
    height: 4vh;
}
#head1 {
}
#head2 {
}
#head1 img {
    margin-right: 5px;
}
section .h5 {
    color: #fff;
    font-size: 9px;
}
section img {
    align-items: center;
    width: 10px;
}
#imghead, #imghead1 {
    padding: 10px;    
}
#imghead {
    border-left: 1px solid #ffffff80;
}
#imghed1 {
    height: 12px;
}*/
/*header*/
header {
    display: flex;
    justify-content: left;
    background-color: #000;
    height: 115vh;
    background: rgba(0, 0, 0, 0.7) url('images.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
header > div {
    width: 90vh;
    margin: 35vh 3%;
    text-align: center;
}
header > div > h1 {
    font-size: 50px;
    color: #fff;
}
header #btnheadery {
    width: 20vh;
    border: none;
    padding: 14px 10px;
    font-size: 11px;
    margin-right: 5px;
    color: #fff;
    background-color: rgb(238, 195, 4);
}
header #btnheaderw {
    width: 20vh;
    border: none;
    padding: 14px 10px;
    margin-left: 5px;
    font-size: 11px;
    color: #000000;
    background-color: #fff;
}
#sec1 {
    display: flex;
    justify-content: space-around;
    height: 68vh;
}
.start {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.esquerda {
    width: 450px;
}
#secesq {
    display: flex;
    justify-content: space-between;
}
#secdir {
    display: flex;
    justify-content: space-between;
}
#sec1 .imgs {
    padding: 6px;
    background-color: rgb(255, 208, 0);
    width: 12px;
    height: 12px;
}
#sec1 h5 {
    margin-left: 4px;
}
h6 {
    margin-bottom: 10px;
    color: rgb(255, 208, 0);
}
h2 {
    margin-top: 0;
    font-size: 30px;
}
#sec1 #pl {
    color: #000;
    font-size: 11px;
    width: 230px;
}
#sec1 .p1 {
    color: #000;
    font-size: 11px;
    width: 425px;
}
#direita img {
    width: 500px;
    height: 500px;
}
/*section 2*/
#sec2 {
    background-color: #fff;
    height: 92vh;
    text-align: center;
}
#sec2 .sectitle {
    margin-top: 65px;
    width: 300px;
    display: inline-flex;
    flex-direction: column;
}
#sec2 .seccolumn {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    height: 304px;
}
#sec2 img {
    width: 224px;
    height: 224px;
}
#sec2 .seccolumnmin {
    border: 1px solid #e9e8e8;
    background-color: #e9e8e8;
    margin: 0 10px 0 10px;
}
#sec2 h5 {
    margin-top: 18px;
    margin-bottom: 0;
}
#sec2 p {
    margin-top: 10px;
    font-size: 11px;
}
/*footer*/
footer {
    display: flex;
    justify-content: center;
    background-color: #162e4b;
    height: 45vh;
    letter-spacing: 1px;
}
footer > div {
    text-align: left;
    margin-top: 8vh;
}
footer h4, footer h5 {
    color: #fff;
}
footer h5 {
    font-size: 11px;
}
footer h3 {
    margin: 0;
    color: rgb(255, 208, 0);
}
footer p {
    color: #fff;
    font-size: 11px;
}
footer a {
    display: block;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    line-height: 25px;
}
footer #imgcar {
    width: 25px;
    height: 25px;
}
footer #imginfo {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
footer #imgseta {
    width: 10px;
    height: 10px;
}
.fnav, .flink, .finput {
    margin-left: 120px;
}
footer input {
    width: 15vh;
    height: 12px;
    border: none;
    padding: 14px 10px;
    font-size: 10px;
}
footer #btnfooter {
    height: 40px;
    width: 10vh;
    border: none;
    font-size: 10px;
    color: #fff;
    background-color: rgb(255, 208, 0);
}
footer #fbtn {
    border-top: 1px solid #ffffff85;    
    border-right: 1px solid #ffffff85;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    background-color: #162e4b;
    width: 30px;
    height: 30px;
}
footer #img {
    width: 12px;
    height: 12px;
}